*.d
*.depends
/*.gen.c
*.o
*.a

# Shared libraries when compiling in-tree.
*.so

# Executables when compiling in-tree.
libminijail_unittest
minijail0
syscall_filter_unittest
parse_seccomp_policy

# common.mk TEST().
*.test

# Google Test.
googletest-release*
