*.d
*.depends
/*.gen.c
*.o
*.a

# Shared libraries when compiling in-tree.
*.so

# Executables when compiling in-tree.
/libminijail_unittest
/minijail0
/minijail0_cli_unittest
/syscall_filter_unittest
/system_unittest
/util_unittest
/parse_seccomp_policy

# common.mk TEST().
*.test

# Google Test.
googletest-release*
