#!/usr/bin/make -f
# -*- makefile -*-
# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
%:
	dh --buildsystem=scons_chromeos $@

override_dh_auto_build:
	dh_auto_build -- minijail libminijail.so # minijail_benchmarks
